/* styles.css */

/* Apply flexbox layout to the body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Apply styles to the button */
#addStreamBtn {
  background-color: #90EE90;
  color: #5b3f87;
  padding: 4px 6px;
  border: none;
  cursor: pointer;
}
